<?xml version="1.0"?>
<!-- -->
<launch>
  
  <arg name="camera" default="kinect"/>
  <arg name="frame" default="$(arg camera)_link_2"/>
  <arg name="tracker_name" default="$(arg camera)"/>

  <node pkg="kinect2_tracker" type="kinect2_tracker_node" name="kinect2_tracker" output="screen">
    <param name="tf_prefix" value="$(arg tracker_name)" />
    <param name="relative_frame" value="/$(arg frame)" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="static_kinect_fix"
        args="0 0 0 3.14159 0 0 $(arg camera)_link $(arg camera)_link_2 10"/>

</launch>